.app__infoBox{
  display: flex;
  align-items: end;
  padding: 20px;
  border: 5px dotted black;
  width: 250px;
  margin-top: 200px;
  height: 75px;

}


.app__skilllogo{
  height: 50px;
  object-fit: contain;
}